<div class="main-div">
	<div class="page-title">
		<h1 class="pull-left">Add Blog Post</h1>
		<div class="pull-right">
			<a href="/blog_posts" class="add-btn"><i class="icon icon-left-arrow"></i> Back</a> 
		</div>
	</div>
	<div class="white-bg">
		<%= render 'form', blog_post: @blog_post %>
	</div>
</div>


