					<%%>
						<tr>
							<td><%= counsellor.id%></td>
							<td><a href="counsellor-data-report.html">Prateek</a></td>
							<td>PharmaLite</td>
							<td>Profile</td>
							<td>120-4522750</td>
							<td>9999 999 999</td>
							<td class="text-right">
								<a href="edit-counsellor.html" class="yello-btn"><i class="icon icon-edit-1"></i></a>
								<a href="view-counsellor.html" class="blue-btn"><i class="icon icon-document"></i></a>
							</td>
					  </tr>
					