<div class="main-div">
	<div class="page-title">
		<h1 class="pull-left">Counsellor Details</h1>
		<div class="pull-right">
			<a href="/counsellors" class="add-btn"><i class="icon icon-left-arrow"></i> Back</a> 
		</div>
	</div>

	 <% if @counsellor.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        <%= pluralize(@counsellor.errors.count, "error") %> prohibited
	        this counsellor from being saved:
	      </h2>
	      <ul>
	        <% @counsellor.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>

	
					
					<%= render 'counsellors_form'%>
				
				

</div>	