	<div class="main-div">
			<div class="page-title">
				<h1 class="pull-left">Counsellor Details</h1>
				<div class="pull-right">
					<a href="blog.html" class="add-btn blue-bg"><i class="icon icon-sheet"></i> Blog Post</a>
					<a href="group-patient.html" class="add-btn red-bg"><i class="icon icon-group"></i> Group Patients</a>
					<a href="/counsellors/new" class="add-btn"><i class="icon icon-add-1"></i> New Counsellor</a>
					<a href="new-doctor.html" class="add-btn green-bg"><i class="icon icon-doctor"></i>Doctors</a>
				</div>
			</div>
			<div class="white-bg">
			<div class="table-overflow">
				<table class="table"  id="example">
					<thead>
					  <tr>
						<th>SNo.</th>
						<th>Name</th>
						<th>Speciality</th>
						<th>Profile</th>
						<th>HCAH Landline</th>
						<th>Mobile</th>
						<th class="text-right">Action</th>
					  </tr>
					</thead>
					<tbody>

					  <%= render 'counsellors_data'%>
					  
					</tbody>
				  </table>
			</div>
			</div>
			<div class="page-footer">
				<div class="pull-right">
					<a href="" class="add-btn red-bg"><i class="icon icon-import"></i> Export Patient Data</a>
					<a href="" class="add-btn"><i class="icon icon-export"></i> Export Counselor Data</a>
				</div>
			</div>
		</div>

		