<div class="main-div">
	<div class="page-title">
		<h1 class="pull-left">Add New Counsellor</h1>
		<div class="pull-right">
			<a href="/counsellors" class="add-btn"><i class="icon icon-left-arrow"></i> Back</a> 
		</div>
	</div>

	<%= render 'counsellors_form'%>

</div>	