<div class = "fields">
<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="form-group">
			<label>Type of exercise you do</label>
			<%= f.select :type_of_exercise, options_for_select([["1. exercise","1. exercise"],["2. exercise","2. exercise"],["3. exercise","3. exercise"],["4. exercise","4. exercise"],["5. exercise","5. exercise"],["6. exercise","6. exercise"]],:selected=>f.object.type_of_exercise),{prompt: true}, {:class => 'form-control margin-bottom10'}%>

			<div class="exerciseFeild"></div>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="form-group">
			<label>Amount of time you do</label>
			<%= f.select :amount_of_time, options_for_select([["0 - 30 minutes","0 - 30 minutes"],["0 - 60 minutes","0 - 60 minutes"],["0 - 90 minutes","0 - 90 minutes"],["0 - 120 minutes","0 - 120 minutes"],["0 - 150 minutes","0 - 150 minutes"],["0 - 180 minutes","0 - 180 minutes"]],:selected=>f.object.amount_of_time),{prompt: true}, {:class => 'form-control margin-bottom10'}%>
			<div class="exerciseFeild"></div>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="form-group">
			<label>Times per week you exercise</label>
			<%= f.select :times_per_weak, options_for_select([["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"]],:selected=>f.object.times_per_weak),{prompt: true}, {:class => 'form-control margin-bottom10'}%>
			<div class="exerciseFeild"></div>
		</div>
	</div>
</div>
<%= link_to_remove_fields "Remove", f %>
</div>


																


															