 


<%= render 'patient_form.html.erb'%>


<script>
$('#state').change(function () {
  $.getJSON('/cities/' +$(this).val() , function (data) {
    $('#city').empty();
    var opt = '<option value=>Please Select</option>';
    $.each(data, function (i,value) {
       opt += '<option value='+ value +'>' + value + '</option>';
    });
    $('#city').append(opt);
  });
  $('#city').empty();
});

$(document).ready(function(){
			var date_input=$('#date'); //our date input has the name "date"
			var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
			date_input.datepicker({
				format: 'yyyy-mm-dd',
				container: container,
				todayHighlight: true,
				autoclose: true,
			});
			var date_input=$('.date-picker'); //our date input has the name "date"
			var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
			date_input.datepicker({
				format: 'yyyy-mm-dd',
				container: container,
				todayHighlight: true,
				autoclose: true,
			})
			$('.click-tab').click(function(){
				var persisted = $('.patient-submit').attr('persisted');
				if(persisted == "false"){
					alert("Please submit patient first");
					return false
				}
				else
				{
					var tab_count = $(this).attr('value');
					$("#tab").attr('value',tab_count);			
				}		
			});
		})


</script>