	<header>
		<div class="logo"><img src="/assets/logo.png" alt=""></div>
		<div class="settings-div">
		   <%if counsellor_signed_in?%>
			<a href="/counsellors/sign_out" data-method="delete"><i class="icon icon-upload"></i> Logout</a>
		   <%end%>
		</div>
		<div class="mobile-menu"><i class="icon icon-m-icon"></i></div>
		<div class="mobile-menu-close"><i class="icon icon-cross"></i></div>
		<!-- <div class="user-div">zxcf</div> -->
	</header>