		<aside>
			<ul class="nav nav-stacked" id="accordion1">
				<li><a href="index.html" class="active"><i class="icon icon-speedometer-tool"></i> Diabee Dashboard</a></li>
				<li><a href="/counsellors"><i  class="icon icon-add-1"></i> Master Counsellor</a></li>
				<li><a href="patient-grouping-sheet.html"><i  class="icon icon-add-1"></i> Patient Grouping Sheet</a></li>
				
				<!-- <li class="panel"><a data-toggle="collapse" data-parent="#accordion1" href="#2"><i  class="icon icon-add-1"></i> Master Counsellor</a>
					<ul id="2" class="collapse">
						<li><a href="counsellor-details.html">Counsellor Details</a></li>
						<li><a href="">Add New Blog Post</a></li>
						<li><a href="">Group Patients</a></li>
						<li><a href="">New Counsellor</a></li>
						<li><a href="">Add New Doctor</a></li>
					</ul>
				</li> -->
				
			</ul>
		</aside>