		<aside>
			<ul class="nav nav-stacked" id="accordion1">
				<li><a href="/patients" class=<%= @p_tab%> ><i class="icon icon-speedometer-tool"></i> Diabee Dashboard</a></li>
			<%if  current_counsellor.is_master?%>
				<li><a href="/counsellors" class=<%= @c_tab%> ><i  class="icon icon-user "></i> Master Counsellor</a></li>
				<li><a href="patient-grouping-sheet.html" class="" ><i  class="icon icon-task"></i> Patient Grouping Sheet</a></li>
			<%end%>	
				
				
			</ul>
		</aside>