		<aside>
			<ul class="nav nav-stacked" id="accordion1">
				<li><a href="/patients" class="active"><i class="icon icon-speedometer-tool"></i> Diabee Dashboard</a></li>
			<%if  current_counsellor.is_master?%>
				<li><a href="/counsellors"><i  class="icon icon-add-1"></i> Master Counsellor</a></li>
				<li><a href="patient-grouping-sheet.html"><i  class="icon icon-add-1"></i> Patient Grouping Sheet</a></li>
			<%end%>	
				
				
			</ul>
		</aside>