<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SIgnin | Diabee</title>
	<link href="/assets/bootstrap.css" rel="stylesheet">
	<link href="/assets/custom.css" rel="stylesheet">
	<link href="/assets/diabee-icon.css" rel="stylesheet">
  </head>
  <body>
    <div class="signin-div">
		<div class="s-tr">
			<img src="images/logo.png" alt="">
			 <form action="/patient/password/create" method = "post">
			 <div class="warp">
			  <div class="form-group">
				<label for="password">New Password:</label>
				<input type="password" class="form-control" id="email">
			  </div>
			  <div class="form-group">
				<label for="pwd">Confirm Password:</label>
				<input type="password" class="form-control" id="pwd">
			  </div>
			    <input type="hidden" name="token" value=<%= @patient.reset_password_token%>>
			  <br>
			  <button type="submit">Submit</button>
			  
			  <div>
			</form>
		</div>
	</div>
  </body>
</html>